.cover__link {
    min-height: 740px;
    display: flex;
    background-image: url(../../../images/__background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 92px;
    
}

.cover__link::after {
    content: '';
    height: 100%;
    width: 100%;
    background: black;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
}

.cover__link:hover::after {
    opacity: 0.8;
    transition: color 2s ease .5s;
}

@media screen and (max-width: 1120px) {
    .cover__link {
        min-height: 640px;
    }
}

@media screen and (max-width: 860px) {
    .cover__link {
        min-height: 480px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 425px) {
    .cover__link {
        min-height: 200px;
        margin-bottom: 64px;
    }
}