@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.page {
    min-width: 1280px;
    max-width: 1600px;
    margin: 0 auto;
    background: #2A2C2F;
    color:#FFFFFF; 
}
