@import url("./__place/places__place.css");
@import url("./__title/places__title.css");
@import url("./__image/places__image.css");
@import url("./__website_url-heading/places__website_url-heading.css");
@import url("./__website_link/places__website_link.css");
@import url("./__website/places__website.css");
@import url("./__paragraph/places__paragraph.css");
@import url("./__title/places__title.css");

.places {
    max-width: 984px;
    margin: 92px auto 92px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

@media screen and (max-width: 1120px) {
    .places {
        max-width: 928px;
}
}

@media screen and (max-width: 860px) {
    .places {
        max-width: 720px;
        row-gap: 72px;
    }
} 

@media screen and (max-width: 425px) {
    .places {
        max-width: 320px;
        row-gap: none;
        margin: 64px 16px 64px;
    }
}