.places__title {
    max-width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 48px;
}

@media screen and (max-width: 1120px) {
    .places__title {
        max-width: 928px;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 860px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
} 

@media screen and (max-width: 425px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
        margin-left: 16px;
    }
}