.footer__link {
    text-decoration: none;
    margin-right: 18px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px; 
    color: #ffffff;
    opacity: 1;
  }

  .footer__link:hover {
    opacity: .8;
    transition: color 2s ease .5s;
  }
  
  @media screen and (max-width: 425px){

    .footer__link {
        display: flex;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
}