@import url("./__title/intro__title.css");
@import url("./__subtitle/intro__subtitle.css");
@import url("./__text/intro__text.css");
@import url("./__list/intro__list.css");

.intro {
   max-width: 690px; 
   justify-content: left;
   margin: 0 148px 92px;
}

@media screen and (max-width: 1120px) {
   .intro {
      margin: 92px 286px 92px 48px; 
   } 
}

@media screen and (max-width: 860px) {
   .intro {
      margin: 88px 24px;
   } 
}

@media screen and (max-width: 425px) {
   .intro {
      margin: 64px 16px;
   }
}