.places__place {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 460px 1fr; 
    grid-template-rows: auto auto;
    grid-column-gap: 40px;
}

@media screen and (max-width: 1120px) {
    .places__place {
        max-width: 928px;
    }
}

@media screen and (max-width: 860px) {
    .places__place {
        max-width: 720px;
    }
} 

/*@media screen and (max-width: 425px) {
    .places__place {
        max-width: 320px;
    }
}*/