@import url("./__copyright/footer__copyright.css");
@import url("./__link/footer__link.css");
@import url("./__links/footer__links.css");
@import url("./__link-text/footer__link-text.css");

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 24px;
    max-width: 1184px;
  }

  @media screen and (max-width: 1120px){
    .footer {  
        max-width: 928px;
    }
}
  
@media screen and (max-width: 860px){
    .footer {
        margin: 0 24px 0; 
        max-width: 768px;  
    }
} 
  
  @media screen and (max-width: 425px){
      .footer {
          flex-direction: column;
          margin-left: 16px;   
      }
  }