.header__lang-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 12px;
}

@media screen and (max-width: 425px) {
    .header__lang-link { 
        margin-top: 10px;
    }
 }